@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
	--primaryCyan: hsl(158, 36%, 37%);
	--primaryCream: hsl(30, 38%, 92%);
	--neutralDarkBlue: hsl(212, 21%, 14%);
	--neutralGreyBlue: hsl(228, 12%, 48%);
	--fontSizePara: 14px;
}

body {
	background: var(--primaryCream);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.main {
	background: white;
	width: 90%;
	margin: 30px auto;
	border-radius: 10px;
}

.fraunces {
	font-family: 'Fraunces', serif;
}

.product-image {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.contents {
	width: 90%;
	margin: auto auto;
}


.product-type {
	font-size: 14px;
	color: var(--neutralGreyBlue);
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: "Montserrat";
	margin-top: 10px;
}

.product-name {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--neutralDarkBlue);
	line-height: 30px;
}

.product-description {
	font-family: 'Montserrat', sans-serif;
	color: var(--neutralGreyBlue);
	font-size: var(--fontSizePara);
	line-height: 20px;
	margin-bottom: 10px;
}

.prices {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.price {
	color: var(--primaryCyan);
	font-size: 30px;
}

.discount {
	margin-left: 25px;
	margin-right: auto;
	font-family: "Montserrat", sans-serif;
	color: var(--neutralGreyBlue);
	font-size: 14px;
	text-decoration-line: line-through;
}

.btn {
	width: 95%;
	height: 50px;
	background-color: var(--primaryCyan);
	font-family: "Montserrat", sans-serif;
	color: white;
	font-style: bold;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.btn:hover {
	background-color: var(--neutralDarkBlue);
	cursor: pointer;
}

@media screen and (min-width: 641px){

	.main {
		height: 80vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 640px;
	}

	.product-image {
		content: url(images/image-product-desktop.jpg);
		height: 80vh;
		border-top-right-radius: 0px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.contents {
		width: 80%;
		height: 90%;
		margin: auto;
	}

	.product-type {
		margin-bottom: 20px;
	}

	.product-name {
		margin-bottom: 25px;
	}

	.product-description {
		padding-bottom: 20px;
	}

	.btn {
		margin-top;
		margin-bottom: 0px;
	}

}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

